<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="p-4 bg-dark-4 rounded-xl shadow-md">
        <h2 class="text-xl text-light-1 mb-4">Затраты по категориям</h2>
        <div class="relative">
            <canvas baseChart
                    [data]="expensesChart()"
                    [type]="'doughnut'"
                    [options]="chartOptions"
            ></canvas>
        </div>
    </div>
    <div class="p-4 bg-dark-4 rounded-xl shadow-md">
        <h2 class="text-xl text-light-1 mb-4">Доходы по категориям</h2>
        <div class="relative">
            <canvas baseChart
                    [data]="incomesChart()"
                    [type]="'doughnut'"
                    [options]="chartOptions"
            ></canvas>
        </div>
    </div>
</div>