<div>
    <div class="w-full p-4 fonts-sans rounded-xl shadow-lg">
        <app-header></app-header>

        <!-- Табы -->
        <div class="flex space-x-2 mb-3">
            <button class="px-4 py-2 rounded-xl text-sm font-medium"
                    *ngFor="let tab of Object.values(TabName)"
                    [ngClass]="activeTab === tab
                    ? 'bg-blue-4 text-light-3'
                    : 'bg-light-1 text-dark-1 hover:bg-blue-2 transition-colors duration-200'
                    "
                    (click)="setTab(tab)">
                {{ tab }}
            </button>

            <div class="flex-grow flex justify-end"
                 [hidden]="activeTab !== 'Главная'">
                <select class="px-2 py-2 outline-none rounded-xl text-sm text-dark-1 bg-light-1 hover:bg-blue-2 transition-colors duration-200 cursor-pointer"
                        #selectElement (change)="changeShowPeriod(selectElement.value)">
                    <option *ngFor="let option of Object.values(ShowPeriod)" [value]="option">
                        {{ option }}
                    </option>
                </select>
            </div>
        </div>

        <!-- Главная -->
        <div [hidden]="activeTab !== 'Главная'">
            <div class="p-4 bg-dark-4 shadow-md rounded-xl mb-8">
                <app-add-transaction/>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">
                <app-current-balance/>
                <app-total-incomes/>
                <app-total-expenses/>
            </div>

            <div class="bg-dark-4 rounded-xl shadow-md overflow-hidden">
                <app-transactions-history/>
            </div>
        </div>

        <!-- Статистика -->
        <div [hidden]="activeTab !== 'Статистика'">
            <div class="mb-8 gap-6 grid grid-cols-2 md:grid-cols-2 rounded-xl overflow-hidden">
                <app-categories-spending-chart/>
            </div>
            <!-- <app-category-details /> -->
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
                <!-- <app-monthly-overview /> -->
                <!-- <app-categories-spending /> -->
            </div>
        </div>
    </div>
</div>
