<div class="fonts-oswald rounded-xl">
    <app-header></app-header>

    <!-- Табы -->
    <div class="grid grid-cols-2 mb-2">
        <div class="space-x-2">
            @for (tab of tabs; track tab.name) {
                <p-button [icon]="tab.icon"
                          [label]="showLabels ? tab.name : ''"
                          (click)="activeTab = tab"
                          [severity]="activeTab === tab ? 'primary': 'secondary'"
                          [rounded]="true"
                />
            }
        </div>

        <div class="flex flex-grow justify-end">
            <p-select
                      [options]="Object.values(ShowPeriod)"
                      (onChange)="setShowPeriod($event.value)"
            >
            </p-select>
        </div>
    </div>

    <ng-container *ngIf="activeTab?.name === TabName.MAIN"
                  class="space-y-4">
        <div class="p-4 bg-dark-4 shadow-md rounded-xl mb-8">
            <app-add-transaction/>
        </div>

        <div class="mb-8">
            <app-summary-card/>
        </div>

        <div class="bg-dark-4 rounded-xl shadow-md overflow-hidden">
            <app-transactions-history/>
        </div>
    </ng-container>

    <ng-container *ngIf="activeTab?.name === TabName.STATS">
        <app-categories-charts/>
    </ng-container>
</div>
