<div class="fonts-sans rounded-xl shadow-lg">
    <app-header></app-header>

    <!-- Табы -->
    <div class="grid grid-cols-1 sm:grid-cols-2 space-y-2">
        <div class="flex flex-grow justify-start space-x-1">
            <button class="w-full sm:w-[30%] py-2 rounded-xl text-sm font-medium"
                    *ngFor="let tab of Object.values(TabName)"
                    [ngClass]="activeTab === tab
                    ? 'bg-blue-4 text-light-3'
                    : 'bg-light-1 text-dark-1 hover:bg-blue-2 transition-colors duration-200'
                    "
                    (click)="setTab(tab)">
                {{ tab }}
            </button>
        </div>

        <div class="flex flex-grow justify-end">
            <select class="w-full sm:w-fit mb-2 sm:mb-0 px-2 outline-none rounded-xl text-sm text-dark-1 bg-light-1 hover:bg-blue-2 transition-colors duration-200 cursor-pointer h-9"
                    #selectElement (change)="setShowPeriod(selectElement.value)">
                <option *ngFor="let option of Object.values(ShowPeriod)" [value]="option">
                    {{ option }}
                </option>
            </select>
        </div>
    </div>

    <!-- Главная -->
    <div [hidden]="activeTab !== 'Главная'">
        <div class="p-4 bg-dark-4 shadow-md rounded-xl mb-8">
            <app-add-transaction/>
        </div>

        <div class="mb-8">
            <app-summary-card/>
        </div>

        <div class="bg-dark-4 rounded-xl shadow-md overflow-hidden">
            <app-transactions-history/>
        </div>
    </div>

    <!-- Статистика -->
    <div [hidden]="activeTab !== 'Статистика'">
        <app-categories-charts/>
    </div>
</div>
