<div class="bg-white p-5 rounded-xl shadow-md hover:shadow-lg transition-all duration-300 transform hover:-translate-y-1">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-semibold">Текущий баланс</h2>
        <span class="material-symbols-outlined text-primary-500">account_balance_wallet</span>
    </div>
    <p class="text-3xl font-bold mb-2">{{ totalAmount() | number: "1.2-2" }}</p>
    <div class="flex items-center text-green-500">
        <span class="material-symbols-outlined text-sm mr-1">trending_up</span>
        <span class="text-sm">+2.4% from last month</span>
    </div>
</div>