<div class="p-4 border-b flex justify-between items-center">
    <h2 class="text-xl text-light-1">История транзакций</h2>
    <div class="flex gap-2">
        <button class="flex items-center px-3 py-1 gap-1 rounded-lg text-sm text-dark-1 bg-light-1 hover:bg-blue-2 transition-color duration-200">
            <span class="material-symbols-outlined text-sm">filter_alt</span>
            Фильтр
        </button>
        <div class="relative flex px-3 py-1 gap-1 items-center rounded-lg bg-light-1">
            <span class="material-symbols-outlined text-sm text-dark-1">search</span>
            <input
                    class="bg-transparent text-sm outline-none text-dark-1"
                    placeholder="Поиск..."
            />
        </div>
    </div>
</div>

<div class="overflow-x-auto">
    <table class="w-full table-fixed">
        <thead>
        <tr class="text-left bg-light-1 text-xs text-dark-1 uppercase">
            @for (field of Object.values(TransactionFieldName); track field) {
                @if (!(field === TransactionFieldName.DESCRIPTION)) {
                    <th class="px-6 py-0.5" (click)="toggleSorting(field)">
                        <span class="cursor-pointer">{{ field }}
                            <span class="material-symbols-outlined text-xs">
                                @if (sortingSig().sortingBy === field) {
                                    {{ sortingSig().direction === 'ASC' ? 'arrow_drop_up' : 'arrow_drop_down' }}
                                } @else {
                                    {{ "  " }}
                                }
                            </span>
                        </span>
                    </th>
                }
            }
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
            @for (transaction of transactions(); track transaction.id) {
                @if (editingIdSig() === transaction.id) {
                    <!--    Режим редактирования    -->
                    <tr tabIndex="-1"
                        editRowFocus
                        (keydown.enter)="saveEdit(transaction.id)"
                        (keydown.escape)="cancelEdit()"
                        class="bg-dark-2 outline-none">
                        <td class="p-3">
                            <select class="overflow-hidden whitespace-nowrap text-light-1 outline-none"
                                    [ngModel]="editBufferSig().type"
                                    (ngModelChange)="updateEditBuffer('type', $event)"
                            >
                                <option value="EXPENSE">Расход</option>
                                <option value="INCOME">Доход</option>
                            </select>
                        </td>

                        <td class="p-3">
                            <input type="text"
                                   class="overflow-hidden whitespace-nowrap text-light-1 outline-none"
                                   [ngModel]="editBufferSig().category"
                                   (ngModelChange)="updateEditBuffer('category', $event)"/>
                        </td>

                        <td class="p-3">
                            <input type="date"
                                   class="overflow-hidden whitespace-nowrap text-light-1 outline-none"
                                   [ngModel]="editBufferSig().date"
                                   (ngModelChange)="updateEditBuffer('date', $event)"/>
                        </td>

                        <td class="p-3">
                            <input type="number"
                                   class="overflow-hidden whitespace-nowrap fonts-monospace outline-none
                                    {{ editBufferSig().type === 'EXPENSE'
                                    ? 'text-red'
                                    : 'text-green'
                                    }}"
                                   [ngModel]="editBufferSig().amount"
                                   (ngModelChange)="updateEditBuffer('amount', $event)"/>
                        </td>
                    </tr>
                } @else {
                    <!--    Режим отображения       -->
                    <tr (click)="toggleDescription(transaction.id)"
                        (dblclick)="startEdit(transaction)"
                        (mouseenter)="hoveredIdSig.set(transaction.id)"
                        (mouseleave)="hoveredIdSig.set(null)"
                        class="hover:bg-dark-3 transition-colors duration-150">
                        <td class="p-3 overflow-hidden whitespace-nowrap text-light-1">
                            {{ transaction.type === 'EXPENSE' ? 'Расход' : 'Доход' }}
                        </td>
                        <td class="p-3 overflow-hidden whitespace-nowrap text-light-1">
                            {{ transaction.category }}
                        </td>
                        <td class="p-3 overflow-hidden whitespace-nowrap text-light-1">
                            {{
                                FormattingUtils.formatDate(transaction.date)
                            }}
                        </td>
                        <td class="p-3 py-1 mt-2 flex justify-between overflow-hidden whitespace-nowrap fonts-monospace
                                {{ transaction.type === 'EXPENSE'
                                    ? 'text-red'
                                    : 'text-green'
                                }}">
                            {{ transaction.amount.toFixed(2) }}₽
                            <button *ngIf="hoveredIdSig() === transaction.id"
                                    (click)="delete(transaction.id)"
                                    class="ml-2 text-red transition-opacity duration-200"
                            >
                                <span class="material-symbols-outlined">delete</span>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="visibleDescriptionIdSig() === transaction.id">
                        <td colspan="4" class="px-3 py-2 text-sm text-light-1 bg-dark-2">
                            <div class="cursor-text">
                                {{ transaction.description || 'Нет описания' }}
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
