<div class="p-4 flex justify-between items-center">
    <h2 class="text-xl text-light-1 cursor-default">История транзакций</h2>
    <div class="flex gap-2 whitespace-nowrap">
        <button class="flex items-center px-2 py-1 gap-1 rounded-lg text-sm text-dark-1 bg-light-1 hover:bg-blue-2 transition-color duration-200">
            <span class="fonts-symbols text-lg">filter_alt</span>
            Фильтр
        </button>
        <div class="relative w-32 min-w-20 flex px-3 py-1 gap-1 items-center rounded-lg bg-light-1">
            <span class="fonts-symbols text-sm text-dark-1 cursor-default">search</span>
            <input
                    class="bg-transparent text-sm outline-none text-dark-1 w-fit"
                    placeholder="Поиск..."
            />
        </div>
    </div>
</div>

<div class="overflow-x-auto">
    <table class="w-full table-fixed">
        <thead>
        <tr class="text-center bg-light-1 text-xs text-dark-1 uppercase">
            @for (field of Object.values(TransactionFieldName); track field) {
                @if (!(field === TransactionFieldName.DESCRIPTION) && !(field === TransactionFieldName.TYPE)) {
                    <th class="px-6 py-0.5"
                        (click)="toggleSorting(field)"
                        (keydown.enter)="toggleSorting(field)">
                        <span class="relative cursor-pointer text-sm whitespace-nowrap">{{ field }}
                            <span class="absolute fonts-symbols text-sm">
                                @if (sortingSig().sortingBy === field) {
                                    {{ sortingSig().direction === 'ASC' ? 'arrow_drop_up' : 'arrow_drop_down' }}
                                }
                            </span>
                        </span>
                    </th>
                }
            }
        </tr>
        </thead>
        <tbody>
            @for (transaction of transactions(); track transaction.id) {
                <tr (click)="window.innerWidth < 1024 ? openEditWindow(transaction) : null"
                    (dblclick)="window.innerWidth >= 1024 ? openEditWindow(transaction) : null"
                    (keydown.enter)="openEditWindow(transaction)"
                    (mouseenter)="hoveredIdSig.set(transaction.id)"
                    (mouseleave)="hoveredIdSig.set(null)"
                    class="text-center hover:bg-dark-3 transition-colors duration-150">
                    <td class="p-3 overflow-hidden whitespace-nowrap text-light-1 cursor-default">
                        {{ transaction.category }}
                    </td>
                    <td class="p-3 overflow-hidden whitespace-nowrap text-light-1 cursor-default">
                        {{ FormattingUtils.formatDate(transaction.date) }}
                    </td>
                    <td class="p-3 py-1 mt-2 relative overflow-hidden whitespace-nowrap fonts-monospace cursor-default {{ transaction.type === 'EXPENSE' ? 'text-red' : 'text-green'}}">
                        {{ transaction.amount.toFixed(2) }}₽
                        @if (hoveredIdSig() === transaction.id) {
                            <div class="hidden lg:flex absolute right-3 bottom-1.5 gap-4">
                                <button (click)="openEditWindow(transaction)"
                                        class="text-yellow transition-opacity duration-200">
                                    <span class="fonts-symbols text-xl">edit</span>
                                </button>
                                <button (click)="delete(transaction.id)"
                                        class="text-red transition-opacity duration-200">
                                    <span class="fonts-symbols text-xl">delete</span>
                                </button>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (openEditWindowSig()) {
        <div class="fixed inset-0 bg-black opacity-70"></div>
        <div class="fixed flex items-center justify-center inset-0">
                <app-edit-transaction-modal
                        [transaction]="openEditWindowSig()!"
                        (save)="saveEdited($event)"
                        (cancel)="cancelEdit()"
                        (delete)="delete($event)">
                </app-edit-transaction-modal>
        </div>
    }
</div>
