<div class="p-4 border-b flex justify-between items-center">
    <h2 class="text-xl text-light-1 cursor-default">История транзакций</h2>
    <div class="flex gap-2">
        <button class="flex items-center px-3 py-1 gap-1 rounded-lg text-sm text-dark-1 bg-light-1 hover:bg-blue-2 transition-color duration-200">
            <span class="material-symbols-outlined text-sm">filter_alt</span>
            Фильтр
        </button>
        <div class="relative flex px-3 py-1 gap-1 items-center rounded-lg bg-light-1">
            <span class="material-symbols-outlined text-sm text-dark-1">search</span>
            <input
                    class="bg-transparent text-sm outline-none text-dark-1"
                    placeholder="Поиск..."
            />
        </div>
    </div>
</div>

<div class="overflow-x-auto">
    <table class="w-full table-fixed">
        <thead>
        <tr class="text-left bg-light-1 text-xs text-dark-1 uppercase">
            @for (field of Object.values(TransactionFieldName); track field) {
                @if (!(field === TransactionFieldName.DESCRIPTION)) {
                    <th class="px-6 py-0.5" (click)="toggleSorting(field)">
                        <span class="cursor-pointer">{{ field }}
                            <span class="material-symbols-outlined text-xs">
                                @if (sortingSig().sortingBy === field) {
                                    {{ sortingSig().direction === 'ASC' ? 'arrow_drop_up' : 'arrow_drop_down' }}
                                } @else {
                                    {{ "  " }}
                                }
                            </span>
                        </span>
                    </th>
                }
            }
        </tr>
        </thead>
        <tbody>
            @for (transaction of transactions(); track transaction.id) {
                <tr (click)="toggleDescription(transaction.id)"
                    (mouseenter)="hoveredIdSig.set(transaction.id)"
                    (mouseleave)="hoveredIdSig.set(null)"
                    class="hover:bg-dark-3 transition-colors duration-150">

                    <td class="p-3 overflow-hidden whitespace-nowrap text-light-1 cursor-default">
                        {{ transaction.type === 'EXPENSE' ? 'Расход' : 'Доход' }}
                    </td>
                    <td class="p-3 overflow-hidden whitespace-nowrap text-light-1 cursor-default">
                        {{ transaction.category }}
                    </td>
                    <td class="p-3 overflow-hidden whitespace-nowrap text-light-1 cursor-default">
                        {{ FormattingUtils.formatDate(transaction.date) }}
                    </td>
                    <td class="p-3 py-1 mt-2 grid grid-cols-2 justify-between overflow-hidden whitespace-nowrap fonts-monospace cursor-default {{ transaction.type === 'EXPENSE' ? 'text-red' : 'text-green'}}">
                        {{ transaction.amount.toFixed(2) }}₽
                        @if (hoveredIdSig() === transaction.id) {
                            <div class="flex justify-end gap-7">
                                <button (click)="openEditWindow(transaction)"
                                        class="text-yellow transition-opacity duration-200">
                                    <span class="material-symbols-outlined">edit</span>
                                </button>
                                <button (click)="delete(transaction.id)"
                                        class="text-red transition-opacity duration-200">
                                    <span class="material-symbols-outlined">delete</span>
                                </button>
                            </div>
                        }
                    </td>
                </tr>

                @if (visibleDescriptionIdSig() === transaction.id) {
                    <!-- Описание (всплывающее) -->
                    <tr (mouseenter)="hoveredIdSig.set(transaction.id)"
                        (mouseleave)="hoveredIdSig.set(null)">
                        <td colspan="4" class="px-3 py-2 text-sm text-purple bg-dark-2 cursor-default">
                            {{ transaction.description || 'Нет описания' }}
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@if (startEditingSig()) {
    <app-edit-transaction-modal
            [transaction]="startEditingSig()!"
            (save)="saveEdited($event)"
            (cancel)="cancelEdit()">
    </app-edit-transaction-modal>
}
