@use '@angular/material' as mat;
@use "tailwindcss";
@use "base/base";
@use "utils/colors";
@use "utils/backgrounds";
@use "utils/fonts";
@use "utils/texts";
@use "utils/effects";

@import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Oswald,
    density: 0,
  ));
}
