@use '@angular/material' as mat;
@use "themes/nord-dark/colors";
@use "themes/nord-dark/backgrounds";
@use "themes/nord-dark/texts";
@use "utils/reset";
@use "utils/fonts";

html {
  @include mat.theme((
    color: (
      theme-type: light, /* light / dark / color-scheme */
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Oswald,
    density: 0,
  ));
}
