:root {
    --font-oswald: 'Oswald';
    --font-jetbrains: 'Jetbrains Mono';
    --font-symbols: 'Material Symbols Outlined';
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(/fonts/JetBrainsMono-Medium.woff2) format('woff2');
}

@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 100 700;
    src: url(/fonts/Material-Symbols.woff2) format('woff2');
}

.fonts-oswald {
    font-family: var(--font-oswald),
    ui-sans-serif,
    system-ui,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

.fonts-monospace {
    font-family: var(--font-jetbrains),
    ui-sans-serif,
    system-ui,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

.fonts-symbols {
    font-family: var(--font-symbols);
    font-weight: normal;
    font-style: normal;
}