
.text-dark-1 { color: var(--dark1); }
.text-dark-2 { color: var(--dark2); }
.text-dark-3 { color: var(--dark3); }
.text-dark-4 { color: var(--dark4); }
.text-light-1 { color: var(--light1); }
.text-light-2 { color: var(--light2); }
.text-light-3 { color: var(--light3); }
.text-blue-1 { color: var(--blue1) }
.text-blue-2 { color: var(--blue2) }
.text-blue-3 { color: var(--blue3) }
.text-blue-4 { color: var(--blue4) }
.text-red { color: var(--red) }
.text-orange { color: var(--orange) }
.text-yellow { color: var(--yellow) }
.text-green { color: var(--green) }
.text-purple { color: var(--purple) }

.hover\:text-dark-1:hover { color: var(--dark1); }
.hover\:text-dark-2:hover { color: var(--dark2); }
.hover\:text-dark-3:hover { color: var(--dark3); }
.hover\:text-dark-4:hover { color: var(--dark4); }
.hover\:text-light-1:hover { color: var(--light1); }
.hover\:text-light-2:hover { color: var(--light2); }
.hover\:text-light-3:hover { color: var(--light3); }
.hover\:text-blue-1:hover { color: var(--blue1) }
.hover\:text-blue-2:hover { color: var(--blue2) }
.hover\:text-blue-3:hover { color: var(--blue3) }
.hover\:text-blue-4:hover { color: var(--blue4) }
.hover\:text-red:hover { color: var(--red) }
.hover\:text-orange:hover { color: var(--orange) }
.hover\:text-yellow:hover { color: var(--yellow) }
.hover\:text-green:hover { color: var(--purple) }
.hover\:text-purple:hover { color: var(--purple) }