<main class="flex justify-center min-h-screen bg-dark-1">
    <p-progress-spinner *ngIf="loading"
                        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
                        strokeWidth="4"
                        animationDuration=".5s"
    >
    </p-progress-spinner>
    <div *ngIf="!loading"
         @fadeIn
         class="mt-8 mb-12 px-4 md:px-6 lg:px-8 w-full min-w-xs max-w-120 sm:max-w-lg md:max-w-3xl lg:max-w-5xl">
        <app-dashboard/>
    </div>
</main>