<div class="fixed flex w-screen p-6 items-center justify-center inset-0">
    <div class="bg-dark-2 rounded-lg p-6 w-full max-w-md shadow-2xl">
        <div class="flex justify-end mb-4">
            <button (click)="onCancel()" class="text-red">
                <span class="fonts-symbols text-2xl">close</span>
            </button>
        </div>

        <form class="space-y-6">
            <div>
                <select class="w-full bg-light-1 text-dark-2 p-2 rounded-lg h-10"
                        [(ngModel)]="transaction.type" name="type">
                    <option value="EXPENSE">Расход</option>
                    <option value="INCOME">Доход</option>
                </select>
            </div>

            <div>
                <input class="w-full bg-light-1 text-dark-2 p-2 rounded-lg"
                       [(ngModel)]="transaction.category" name="category">
            </div>

            <div>
                <input type="date" class="w-full bg-light-1 text-dark-2 p-2 rounded-lg"
                       [ngModel]="transaction.date | date:'yyyy-MM-dd'"
                       (ngModelChange)="transaction.date = $event" name="date">
            </div>

            <div>
                <input type="number" class="w-full bg-light-1 text-dark-2 p-2 rounded-lg"
                       [(ngModel)]="transaction.amount" name="amount">
            </div>

            <div>
                <label class="text-xs text-light-2">Описание
                    <textarea class="w-full bg-light-1 text-dark-2 p-2 rounded-lg min-h-[60px]"
                              [(ngModel)]="transaction.description" name="description"></textarea>
                </label>
            </div>

            <div class="flex justify-between space-x-3 pt-4">
                <button (click)="onDelete()"
                        class="text-red">
                    <span class="fonts-symbols text-2xl">delete</span>
                </button>
                <button (click)="onSave()"
                        class="text-green">
                    <span class="fonts-symbols text-2xl">check</span>
                </button>
            </div>
        </form>
    </div>
</div>