:host {
    display: block;

    input, select, textarea {
        &:focus {
            outline: 1px solid var(--blue1);
            outline-offset: -1px;
        }
    }

    button[type="submit"]:focus {
        outline: 1px solid var(--green);
    }

    button[type="button"]:focus {
        outline: 1px solid var(--red);
    }
}